*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extra{
    display: flex;
    background-color: antiquewhite;
    flex-direction: row;
    width: 50%;
}
 
.extra input[type="button"]{
 width: 100%;
 height: 40px;
}
.task{
    display: flex;
    flex-direction: row;
     width: 50%;
     justify-content: center;
     align-items: center;
     gap: 20px;
}